{% extends 'main2.html' %}
{% block content %}
<style>
  table, th, td {
    border:1px solid black;
    padding: 5px 15px;
  }
          .container{
              background-color:white;
              padding: 25px;
              }
          .block{
              color:blue;
              }
          .head{
              font-size:50px;
              color:#03fcdb;
              text-align:center;
              }
          body {
    background-image: url('https://st2.depositphotos.com/4329009/8231/v/600/depositphotos_82313760-stock-illustration-abstract-creative-concept-vector-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
          }
  </style>

  <div class="container">
<h2>Air Quality Prediciton</h2>

<table style="width:100%">
  <tr>
    <th>Suspectful</th>
    <th>Suggestion</th>
    <th>Diet plan</th>
  </tr>
  <tr>
    <!-- <td><p>In stage 2, Air Quality  are functioning between 60 and 89 percent.</p></td> -->
    <td><p>It’s time to develop a relationship with a Air Quality specialist. There’s no cure for CKD, but early treatment can slow or stop progression.It’s important to address the underlying cause. If you have diabetes, high blood pressure, or heart disease, follow your doctor’s instructions for managing these conditions.It’s also important to maintain a good diet, get regular exercise, and manage your weight. If you smoke, ask your doctor about smoking cessation programs.</p>
     <td><p>
             Add more fiber from fresh fruits and vegetables, and whole-grains, such as whole grain bread and high-fiber cereal. Limit high-fat dairy, including milk, yogurt, frozen desserts, cream cheese and sour cream.
        </p></td>
        <td><p>
          Add diet Plan here
     </p></td>
  </tr>
<!--  <tr>-->
<!--    <td>16</td>-->
<!--    <td>14</td>-->
<!--    <td>10</td>-->
<!--  </tr>-->
</table>
</div>
{% endblock %}

