{% extends 'main2.html' %}
{% block content %}
<style>
table, th, td {
  border:1px solid black;
  padding: 5px 15px;
}
        .container{
            background-color:white;
            padding: 25px;
            }
        .block{
            color:blue;
            }
        .head{
            font-size:50px;
            color:#03fcdb;
            text-align:center;
            }
        body {
  background-image: url('https://st2.depositphotos.com/4329009/8231/v/600/depositphotos_82313760-stock-illustration-abstract-creative-concept-vector-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
        }
</style>

  <div class="container">

<h2>Air Quality prediction</h2>

<table style="width:100%">
  <tr>
    <th>For Pathological</th>
    <th>Suggestion</th>
    <th>Diet plan</th>
  </tr>
  <tr>
    <td><p>It is performing at 90 percent or better.</p>
        <p>At this Pathological, Fetal  is likely to be discovered by chance
             during routine blood and urine tests. You may also have these tests if you have
             diabetes or high blood pressure, the top causes of CKD in the United States.</p></td>
    <td><p>You can slow disease progression by taking these steps:Work at managing blood sugar
             levels if you have diabetes.Follow your doctor’s advice for lowering blood pressure
             if you have hypertension.Maintain a healthy, balanced diet.Don’t use tobacco.
             Engage in physical activity for 30 minutes a day, at least 5 days a week.Try
             to maintain an appropriate weight for your body.</p></td>
    <td><p>
             With fruits, vegetables, legumes, whole grains, low- and nonfat dairy, lean proteins and low-sodium foods, this Air Quality  diet is very similar to the recommendations in the Dietary Guidelines for Americans, as well as the DASH eating plan (Dietary Approaches to Stop Hypertension). The main difference is the early Air Quality  limits meat and dairy to help achieve a moderate protein intake. Follow these steps to get started.

Add more fiber from fresh fruits and vegetables, and whole-grains, such as whole grain bread and high-fiber cereal.
Limit high-fat dairy, including milk, yogurt, frozen desserts, cream cheese and sour cream.
Eat less red meat; instead, have more lean poultry and seafood (limit to 6 ounces or less per day, based on your dietary requirements). Choose grilled or baked protein instead of fried.
Have fewer processed foods, particularly ones with hidden phosphorus.
Reduce sodium intake — the recommendation is 1,500 to 2,300 mg/day.
Limit alcohol consumption.
Adjust calorie intake to reach a healthy weight. Start by eating in moderation, snacking on fruits and vegetables, and eating an appropriate portion of healthy fats.
Choose vegetables without cheese, sauces or fried preparation.

         </p></td>
  </tr>
<!--  <tr>-->
<!--    <td>16</td>-->
<!--    <td>14</td>-->
<!--    <td>10</td>-->
<!--  </tr>-->
</table>

{% endblock %}